body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #1f513b;
	background: linear-gradient(to top right, #1f513b, #0F2725) fixed;
}

.header{
    display: flex;
    height: 70px;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
}

.header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 4 10 0 10px;
    display: flex;
    align-items: center;
    text-align: center;

}

img{
    height: 300px;
    width: 200px;
}

.logo{
    display: flex;
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.logo img {
    margin: 0px 0px 0px 0px;
    display: flex;
    height: 60px;
    width: 60px;
    padding: 0px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.hidden{
    display: none;
}

#mensajeGanador{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 40%;
    height: 200px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;   
    font-size: 50px;
    text-align: center;
    line-height: 180px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.482);
    border-radius: 10px;
    opacity: 0.9;
}

button{
    width: 250px;
}

#cartasJugador{
    height: 300px;
}